@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<br />

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                User Name
            </th>
            <th>
                Password
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Status
            </th>
            <th>
                Phone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>